<div class="search">
  <core-searchbar
    class="search__searchbar"
    [searchTerm]="vm.selectSearchTerms$ | async"
    (searchEmitter)="vm.search($event)"
  ></core-searchbar>

  <div class="search__categories">
    <ng-container *ngFor="let category of vm.selectSearchCategories$ | async">
      <core-hero-tile
        [routerLink]="['/media/curators', category.id]"
        [image]="category.attributes?.['editorialArtwork']?.subscriptionCover?.url || category.attributes?.['editorialArtwork']?.superHeroWide?.url || category.attributes?.['editorialArtwork'].subscriptionHero.url || category.attributes?.['artwork']?.url"
        [title]="category.attributes?.['editorialNotes']?.name || category.attributes?.['name']"
      ></core-hero-tile>
    </ng-container>
  </div>
</div>
