.search {
  display: block;
  padding-inline: 1rem;
  padding-block: 1rem;

  .search__searchbar {
    margin: 0;
    margin-top: -2.4rem;
    margin-left: 7rem;
    width: 300px;
    max-width: 300px;
    display: inline-block;
  }

  .search-container__button:hover,
  .search-container__button--clear:hover {
    color: #dddddd;
  }

  .search__categories {
    margin-top: 2rem;
    display: inline-grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
  }

  .search__categories {
    > * {
      min-width: 150px;
      width: 100%;
      min-height: 120px;
    }
  }
}

@media (max-width: 1600px) {
  .search__categories {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 1400px) {
  .search__categories {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 1000px) {
  .search__categories {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
