<div id="currentPageControls" (resized)="onResized($event)">
    <div id="header-library" #filterElements>
        <button *ngFor="let filter of filters;" [ngClass]="{'selected' : filter.selected, 'hidden' : filter.hidden == true}" [id]="(filter.name | lowercase) + '_library_filter'" (click)="changeView(filter, false)" class="button-library_filter" mat-flat-button>{{filter.name}}</button>
    </div>
    <div class="library_filter_dropdown_container" (resized)="onDropdownResized($event)">
        <mat-form-field appearance="outline" id="button-library_filter_menu">
            <mat-select #filterSelect class="shift-arrow">
                <ng-container *ngFor="let filter of filters;">
                    <mat-option (click)="changeView(filter, true)" *ngIf="isTextOverflow(filter)">{{filter.name}}</mat-option>
                </ng-container>
            </mat-select>
          </mat-form-field>
    </div>
</div>