input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
.button,
textarea,
.window-controls,
.window-controls > div,
app-playlist-controls,
mat-select {
    -webkit-app-region: no-drag;
}

.draggable {
    -webkit-app-region: drag;
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: visible;
    padding: 0;
    padding-top: 0;
}

#profile-settings-container {
    box-shadow: none;
    width: 200px;
    height: 45px;
    background-color: rgba(var(--primaryColor), 1);
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
}

.button {
    transition: opacity 0.3s ease;
    color: rgba(#ffffff, 1);
    margin-left: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.3rem;
    padding-top: 0.2rem;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    #user-profile-icon {
        vertical-align: middle;
        transform: scale(1.5);
    }

    #user-profile-name {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding-top: 0.3rem;
        padding-left: 0.8rem;
    }
}

#button-settings {
    padding: 0.55rem 0.6rem;

    & mat-icon {
        font-size: 26px;
    }
}

#page-controls-container {
    display: inline-flex;
    margin-left: 0.4rem;
    transform: scale(1.05);

    :has(.disabled) {
        cursor: pointer;
    }

    #button-page_previous,
    #button-page_next {
        color: var(--text-inverse);
        background-color: var(--text);
        transition: opacity 0.3s ease;
        opacity: 0.8;
        border-radius: 10rem;
        width: 25px;
        height: 30px;
        margin: 0 0.4rem 0 1rem;
        font-weight: 100;

        &:hover {
            opacity: 0.6;
        }

        .mat-ligature-font {
            vertical-align: middle;
            margin-bottom: 0.5rem;
            transform: scale(1.25);
        }

        #icon-page_next {
            margin-left: 2px;
        }
    }
}

#currentPageControls {
    display: inline-flex;
    width: fit-content;
    margin-left: 0.6rem;
    margin-top: 0.1rem;
}

#input-search {
    flex: auto;
    width: 20rem;
    box-sizing: border-box;
    border: 1px solid var(--background-light);
    border-radius: 15px;
    background-color: var(--background-light);
    font-size: 16px;
    color: var(--text);
    caret-color: var(--text);
    padding: 0.4rem 1rem;
    padding-right: 2.4rem;

    &:active,
    &:focus {
        outline:rgba(var(--primaryColor), 0.6) 1px;
        border: 1px solid rgba(var(--primaryColor), 0.6);
    }

    &::placeholder {
        color: var(--text);
        opacity: 0.4;
    }
}

.icon-button {
    color: var(--text);
    opacity: 0.8;
    transition: color 300ms ease;
    display: inline-flex;
    position: absolute;
    z-index: 1;

    :hover {
        color: var(--text);
        opacity: 0.6;
    }
}

#button-clear_input {
    color: var(--text);
    opacity: 0.8;
    left: 36.375rem;
    top: 0.55rem;
}

::ng-deep .mat-mdc-unelevated-button {
    background-color: transparent;
}

::ng-deep .account-settings-menu {
    .icon-context-menu {
        &.mat-icon {
            padding: 0;
            margin-right: 0.6rem;
        }
    }

    ::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item {
        margin: 0;
        padding: 0 0.6rem;
    }
}

.disabled {
    background-color: var(--text) !important;
    opacity: 0.3 !important;
    cursor: not-allowed !important;
}

.window-controls {
    display: flex;
    align-items: flex-end;

    > div {
        background-color: rgba(black, 0.4);
        width: 40px;
        height: 26px;
        z-index: 99;
        position: absolute;
        top: 0;

        
        > img {
            max-width: 50px;
            height: 25px;
            filter: invert(100%);
            vertical-align: middle;
            margin-bottom: 8px;
        }
        
        &:hover {
            background-color: rgba(black, 0.6);
        }
    }

    .minimize-button {
        right: 80px;

        > img {
            margin-top: -11px;
            margin-left: 11px;
            max-width: 30px;
            height: 18px;
        }
    }

    .maximize-button {
        right: 40px;

        > img {
            margin-left: 12px;
            max-width: 30px;
            height: 18px;
        }
    }

    .close-button {
        right: 0;

        > img {
            margin-left: 9px;
            max-width: 30px;
            height: 20px;
        }

        &:hover {
            background-color: rgba(#CD1A2B, 1);
        }
    }
}

.compact {
    width: 50px !important;
}