<ng-container *ngrxLet="music">
  <ng-container *ngrxLet="vm">
    <ng-container *ngrxLet="vm.selectMedia$ | async; let media">
      <div class="more-info">
        <div class="color-div"></div>
        <i
          id="toggle-button"
          class="material-symbols-rounded"
          [ngClass]="{
            rotated: showAdditionalInfo
          }"
          (click)="toggleShowContent()"
          (keydown)="toggleShowContent()"
          >expand_circle_down</i
        >
        <div class="info-border"></div>
        <ui-media-details-dropdown [showContent]="showAdditionalInfo">
          <div id="dropdown-content-wrapper">
            <div class="dropdown-content" #content>
              <div class="content-wrapper">
                <div id="media-songs-genre-description">
                  <span id="songs-count"
                    >{{
                      media?.attributes?.['trackCount ']||
                        media?.relationships?.tracks?.data
                          ?.length ||
                        media?.songs?.length
                    }}
                    songs
                  </span>
                  <span>{{ media?.duration | date : 'm:ss' }}</span>
                  <p *ngIf="media?.attributes?.['genreNames']" id="genres">
                    {{ media?.attributes?.['genreNames'].join(', ') }}
                  </p>
                  <p
                    *ngIf="
                      media?.attributes?.['editorialNotes']?.standard ||
                      media?.attributes?.['editorialNotes']?.short
                    "
                    id="media-description"
                    [innerHTML]="
                      media?.attributes?.['editorialNotes']?.standard ||
                      media?.attributes?.['editorialNotes']?.short
                    "
                  ></p>
                  <p *ngIf="media?.attributes?.['releaseDate']">
                    {{ media?.attributes?.['releaseDate'] }}
                  </p>
                  <p
                    id="recordLabel"
                    *ngIf="media?.attributes?.['recordLabel']"
                  >
                    {{ media?.attributes?.['recordLabel'] }}
                  </p>
                  <p id="copyright" *ngIf="media?.attributes?.['copyright']">
                    {{ media?.attributes?.['copyright'] }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ui-media-details-dropdown>
      </div>
      <ui-virtual-table
        [media]="media?.type!"
        [data]="media?.songs || media?.relationships?.tracks?.data"
        [ratings]="vm.getRatings$ | async"
        [playingSong]="(music.currentItem$ | async)?.id"
        [playing]="(music.playing$ | async)!"
        [routeChanges]="routeChangeEmitter"
        (pauseEmitter)="music.pause()"
        (unpauseEmitter)="music.play()"
        (indexEmitter)="
          music.setQueueAndPlayAtIndex(media?.type!, media?.id!, $event)
        "
        (loveClickEmitter)="vm.love($event)"
        (idEmitter)="
          music.setQueueAndPlayAtIndex(media?.type!, media?.id || $event)
        "
      ></ui-virtual-table>
    </ng-container>
  </ng-container>
</ng-container>
