.can-hover {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

:host {
  display: flex;

  .seperator {
    font-size: var(--font-size-l) !important;
    color: var(--text-500);
  }

  ui-album-tile-large {
    padding: 0;

    // TODO hacky fix
    min-width: 12rem;
    min-height: 12rem;
  }

  #media-cover-artwork {
    filter: drop-shadow(1px 1px 8px black);
  }

  #media-details {
    width: 100%;
    font-size: var(--font-size-xl);
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    justify-content: space-between;

    #media-text {
      font-family: 'InterDisplay';
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
      display: -webkit-box;
      -webkit-box-orient: vertical;

      #media-title {
        font-size: var(--font-size-6xl);
        font-weight: var(--font-weight-large-bold);
        margin-top: 1rem;
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: var(--text);
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
      }

      #media-artist-year {
        margin-top: 0.3rem;
        color: var(--text);

        #year {
          color: var(--text-500);
        }
      }
    }
  }

  ::ng-deep #media-buttons {
    flex-grow: 1 1;
    display: flex;
    flex-direction: row;
    width: 100%;

    #media-buttons-wrapper {
      display: flex;
      flex-direction: row;
    }

    core-base-button {
      button {
        margin-right: 1rem;

        i,
        span {
          color: var(--text) !important;
        }

        &:hover {
          color: #b9b9b9 !important;
        }

        &:active {
          color: #666666 !important;
        }
      }

      &#play-button {
        i {
          padding-left: 0.6rem;
          font-size: var(--font-size-4xl);
        }
      }

      &#shuffle-button {
        button {
          width: 7.5rem;
          padding-left: 0.8rem;
        }
      }

      &#media-options-button {
        i {
          padding-left: 0.3rem;
          font-size: var(--font-size-6xl);
        }
      }

      button {
        color: #7f7f7f !important;
        mix-blend-mode: luminosity;
        width: 6rem;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-thin);
      }

      i {
        padding-top: 0.2rem;
      }
    }

    #misc-media-buttons {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      justify-content: flex-end;

      .media-action-button {
        color: #7f7f7f !important;

        i {
          &:hover {
            color: #b9b9b9 !important;
          }

          &:active {
            color: #666666 !important;
          }
        }
      }
    }
  }
}
