<cdk-virtual-scroll-viewport #virtualScroll tvsItemSize="55">
    <table #songsTable class="songs" mat-table [dataSource]="dataSource" [trackBy]="trackBySongId" matSort recycleRows>
        <ng-container id="id" matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled sortActionDescription="Sort by id">
                #
            </th>
            <td mat-cell *matCellDef="let song; let i = index;">
                <span class="id">
                    {{song.id + 1}}
                </span>

                <div class="rowPlayIcon">
                    <mat-icon class="material-icons-round" fontIcon="play_arrow" />
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
                Title
            </th>
            <td class="song-container" mat-cell *matCellDef="let song">
                <img class="songImg" src={{song.artwork}} />
                <div class="title-artist">
                    <span class="title">
                        {{song.title}}
                    </span>
                    <span class="artist">
                        <br>{{song.artist}}
                    </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="album">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="album" sortActionDescription="Sort by album">
                Album
            </th>
            <td class="album-container" mat-cell *matCellDef="let song">
                <span class="album">
                    {{song.album}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="dateAdded">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date added">
                Date Added
            </th>
            <td class="date-added-container" mat-cell *matCellDef="let song"> {{song.dateAdded | date}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell arrowPosition="before" *matHeaderCellDef mat-sort-header
                sortActionDescription="Sort by duration">
                Duration
            </th>
            <td mat-cell *matCellDef="let song"> {{song.duration | date: 'm:ss' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" (dblclick)="playSong(row)"></tr>
    </table>
</cdk-virtual-scroll-viewport>