#app-wrapper {
  margin-top: 0.5rem;
  display: block;
}

#navigation-buttons-wrapper {
  position: relative;
  z-index: 999;

  #navigation-buttons {
    position: absolute;
    left: 6rem;

    &.drawer-expanded {
      transform: translate(9rem);
    }
  }
}
