#title-bar {
  width: 100%;
  height: 2.2rem;
  position: sticky;
  display: flex;
  top: 0;
  background-color: black;
  -webkit-app-region: drag;
  justify-content: space-between;
  z-index: 999999999;

  i {
    color: white;
  }
}

.titlebar-button {
  -webkit-app-region: no-drag;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  outline-offset: -0.2rem;

  i {
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-reg);
  }

  &:hover {
    background-color: oklch(100% 0 0 / 20%);
  }

  &#titlebar-close {
    border-top-right-radius: 10px;
  }

  &#titlebar-close:hover {
    background-color: oklch(65% 30 30);
  }
}

#titlebar-file-menu-wrapper {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;

  #titlebar-file-menu,
  #titlebar-apple-menu,
  #titlebar-spotify-menu {
    margin-top: 2px;
    margin-left: 1rem;

    &:hover {
      background: none;
    }

    i {
      font-size: var(--font-size-5xl);
      font-weight: 300;
    }

    &:hover {
      i {
        color: var(--font-color-faded);
      }
    }

    &:active {
      i {
        color: var(--font-color-active);
      }
    }
  }

  #titlebar-apple-menu,
  #titlebar-spotify-menu {
    position: absolute;
    width: 25px;
    height: 30px;
    right: 7.5rem;
    padding-inline: 0.3rem;
    border-radius: 0;

    svg {
      path {
        fill: var(--font-color-faded3);
      }
    }

    &:hover {
      background-color: oklch(100% 0 0 / 20%);

      svg {
        path {
          fill: var(--font-color-faded);
        }
      }
    }

    &:active {
      background-color: oklch(100% 0 0 / 20%);

      svg {
        path {
          fill: var(--font-color-active);
        }
      }
    }
  }

  #titlebar-apple-menu {
    svg {
      margin-top: -2px;
    }
  }

  #titlebar-spotify-menu {
    right: 9.75rem;

    svg {
      margin-top: 0px;
    }
  }
}
