<ng-template #base>
  <div
    *ngrxLet="state$ as media"
    [style.opacity]="media?.loaded ? 1 : 0"
    id="page-wrapper"
    [style.background]="
      'linear-gradient(transparent 14.09rem, transparent 10rem)'
    "
  >
    <div class="media-details-relative">
      <img
        class="banner"
        [style.visibility]="isArtist ? 'visible' : 'hidden'"
        [src]="musicAPIFacade.artistBanner$ | async"
      />
      <div id="media-details-wrapper" [ngSwitch]="isArtist">
        <ng-container *ngSwitchCase="true">
          <ng-container
            *ngTemplateOutlet="artistDetailsTemplate"
          ></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="mediaDetails"></ng-container>
        </ng-container>
      </div>
    </div>
    <div id="media-content-wrapper">
      <div id="media-content">
        <div [ngSwitch]="isArtist" class="content-wrapper">
          <ng-container *ngSwitchCase="true">
            <ng-container *ngTemplateOutlet="artistContent"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="mediaContent"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngTemplateOutlet="base"></div>

<ng-template #artistDetailsTemplate>
  <musicnya-artist-details></musicnya-artist-details>
</ng-template>

<ng-template #mediaDetails>
  <musicnya-song-album-details></musicnya-song-album-details>
</ng-template>

<ng-template #artistContent>
  <musicnya-artist-details-content></musicnya-artist-details-content>
</ng-template>

<ng-template #mediaContent>
  <musicnya-song-album-content></musicnya-song-album-content>
</ng-template>
