.can-hover {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

:host {
  --drop-shadow: drop-shadow(0 0 2px oklch(0% 0 0 / 20%));
  position: relative;
  display: block;
  padding-top: 4rem;
  box-sizing: border-box;
  min-width: 0;
  height: inherit;
  color: var(--font-color);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-blend-mode: multiply;
  --background-color: #151515;
  --backgroundColorLight: #dbdbdb;

  .seperator {
    font-size: var(--font-size-l) !important;
  }

  #media-details-wrapper {
    padding-inline: 1rem;
    display: flex;
    flex-direction: row;

    #media-cover-artwork {
      filter: drop-shadow(1px 1px 8px black);
    }

    #media-details {
      width: 100%;
      font-size: var(--font-size-xl);
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      justify-content: space-between;
    }

    #media-text {
      font-family: 'InterDisplay';
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
      display: -webkit-box;
      -webkit-box-orient: vertical;

      #media-title {
        font-size: var(--font-size-6xl);
        font-weight: var(--font-weight-large-bold);
        margin-top: 2rem;
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      #media-artist-year {
        margin-top: 0.3rem;

        #year {
          color: var(--font-color-slightly-faded);
        }
      }
    }

    ::ng-deep #media-buttons {
      flex-grow: 1 1;
      display: flex;
      flex-direction: row;
      width: 100%;

      #media-buttons-wrapper {
        display: flex;
        flex-direction: row;
      }

      core-base-button {
        margin-right: 1rem;

        button {
          background: var(--backgroundColorLight);
        }

        &#play-button {
          i {
            padding-left: 0.6rem;
            font-size: var(--font-size-4xl);
          }
        }

        &#shuffle-button {
          button {
            width: 7.5rem;
            padding-left: 0.8rem;
          }

          i {
            padding-left: 0.2rem;
            font-size: var(--font-size-3xl);
          }
        }

        &#library-add-button,
        &#media-options-button {
          button {
            outline-offset: -0.1em;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 10px;
            padding-bottom: 0.15rem;
          }

          &:hover {
            filter: brightness(120%);
          }

          &:active {
            filter: brightness(80%);
          }

          i {
            color: var(--font-color-white);
            font-size: var(--font-size-6hxl);
          }

          &:active {
            i {
              color: var(--font-color-white-faded);
            }
          }
        }

        &#media-options-button {
          i {
            padding-left: 0.3rem;
            font-size: var(--font-size-6xl);
          }
        }

        button {
          color: var(--backgroundColorLight);
          width: 6rem;
          font-size: var(--font-size-xl);
          font-weight: var(--font-weight-thin);
        }

        i {
          padding-top: 0.2rem;
        }
      }

      i,
      span {
        color: black;
      }

      #misc-media-buttons {
        button {
          background: transparent;
        }

        i {
          color: #bdbdbd !important;
          mix-blend-mode: luminosity;
        }

        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }

  .more-info {
    border-radius: 4px;
    margin-top: 2rem;
    max-width: 100%;
    background: transparent;

    .more-info-content {
      background: transparent;
      border-radius: 4px;
    }

    .color-div {
      position: absolute;
      width: 0.85rem;
      height: 0.35rem;
      z-index: 1;
      background-color: black;
      top: 17.8rem;
      left: calc(50% + 0.25rem);
    }

    #toggle-button {
      font-size: var(--font-size-2xl);
      margin-right: 2rem;
      overflow: visible;
      margin-top: 1rem;
      filter: drop-shadow(2px 0px 3px rgba(0, 0, 0, 0.3));
    }

    .info-border {
      border-bottom: 1px solid var(--backgroundColorLight);
      position: absolute;
      top: 18rem;
      left: calc(50% - 11.5rem);
      width: 24rem;
      max-width: 100%;
      z-index: 0;
      mask: linear-gradient(
        to right,
        transparent 0%,
        rgba(white, 0.5) 50%,
        transparent 100%
      );
    }

    #dropdown-content-wrapper {
      background: transparent;
      border-radius: 4px;
      position: relative;
      clip: auto;

      .dropdown-content {
        background: var(--backgroundColorLight);
        color: black;
        background-blend-mode: hard-light;
        max-width: 100%;
        min-height: 0;
        padding-inline: 3rem;
        padding-block: 2rem;
        word-wrap: normal;
        white-space: wrap;
        border-radius: 4px;

        .content-wrapper {
          padding-block: 0rem;
        }
      }
    }

    i {
      z-index: 2;
      transition: transform 0.3s ease;
      color: white;
      position: absolute;
      top: 16.3rem;
      left: 50%;

      &.rotated {
        transform: rotate(180deg);
      }

      &:hover {
        filter: brightness(110%);
      }

      &:active {
        filter: brightness(80%);
      }
    }
  }

  .media-button-container {
    margin-left: -0.25rem;
  }

  ui-media-details-dropdown {
    transition: height 0.2s ease-out;

    p {
      transition: height 0.2s ease-out;
    }
  }

  #description {
    display: block;
    white-space: pre-wrap;
  }

  ui-album-tile-large {
    padding: 0;

    // TODO hacky fix
    min-width: 12rem;
    min-height: 12rem;
  }

  #page-wrapper {
    background: var(--backgroundColorLight);
    height: inherit;
  }

  #media-content-wrapper {
    position: relative;
    width: 100%;
    height: inherit;
    margin-top: -1rem;

    #media-content {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: var(--backgroundColorLight);
      padding: 1rem;
      position: absolute;
      top: 1.1rem;
      display: flex;
      width: 100%;
      min-height: 75vh;
    }
  }

  #media-songs-genre-description {
    color: var(--font-color-black);
    font-weight: var(--font-weight-bold);
    background-color: var(--backgroundColorLight);

    #genres {
      padding: 0;
      margin-top: 0.2rem;
    }

    #songs-count {
      font-weight: var(--font-weight-bold);
      color: var(--font-color-black);
    }

    #recordLabel,
    #copyright {
      margin: 0;
    }

    span,
    div,
    p {
      filter: var(--drop-shadow);
    }
  }
}
