<ng-container *ngrxLet="state$ as media">
  <ng-container *ngrxLet="musicState$ as player">
    <div
      [style.opacity]="media?.loaded ? 1 : 0"
      id="page-wrapper"
      [style.background]="
        'linear-gradient(transparent 14.09rem, transparent 10rem)'
      "
    >
      <div id="media-details-wrapper">
        <ui-album-tile-large
          id="media-cover-artwork"
          #mediaCover
          [showZoom]="true"
          [showEditOverlay]="
            media?.currentMedia?.type === 'library-playlists' &&
            media?.currentMedia?.attributes?.canEdit
          "
          [imageSource]="media?.currentMedia?.attributes?.artwork?.url || media?.currentMedia?.songs?.[0]?.attributes?.artwork?.url"
          [showPlayButton]="false"
          [tileSize]="12"
          [showInfo]="false"
          [id]="media?.currentMedia?.id"
          [clickEnabled]="false"
        ></ui-album-tile-large>
        <div id="media-details">
          <div id="media-text">
            <div
              id="media-title"
              [title]="media.currentMedia?.attributes?.name"
            >
              {{ media.currentMedia?.attributes?.name }}
            </div>
            <div id="media-artist-year">
              <span
                [title]="media?.currentMedia?.attributes.artistName"
                [ngClass]="{
                  'can-hover': media?.currentMedia?.attributes.artistName
                }"
                id="artist"
                *ngIf="
                  (media?.currentMedia?.type === 'playlists' &&
                    media?.currentMedia?.attributes?.curatorName) ||
                  (media.type !== 'playlists' &&
                    media?.currentMedia?.attributes?.curatorName) ||
                  media?.currentMedia?.attributes?.artistName
                "
                >{{
                  media?.currentMedia.type === 'playlists'
                    ? media?.currentMedia?.attributes?.curatorName
                    : media?.currentMedia?.attributes?.artistName ||
                      'Unknown Artist'
                }}</span
              ><span *ngIf="media?.currentMedia?.attributes?.releaseDate"
                ><span class="seperator"> • </span>
                <!-- TODO make a pipe for this -->
                <span id="year">{{
                  media?.currentMedia?.attributes?.releaseDate.substring(0, 4)
                }}</span></span
              >
            </div>
          </div>
          <div id="media-buttons">
            <div id="media-buttons-wrapper">
              <core-base-button
                id="play-button"
                class="core-base-button-filled media-action-button outline-offset-small"
                componentStyleClass="ui-button-l media-action-button"
                text="Play"
                (click)="
                  player.setQueueThenPlay(
                    media.currentMedia?.type,
                    media.currentMedia?.id
                  )
                "
                icon="play_arrow"
              ></core-base-button>
              <core-base-button
                id="shuffle-button"
                class="core-base-button-filled media-action-button outline-offset-small"
                componentStyleClass="ui-button-l media-action-button"
                text="Shuffle"
                icon="shuffle"
                (click)="
                  player.shufflePlay(
                    media.currentMedia?.type,
                    media.currentMedia?.id
                  )
                "
              ></core-base-button>
            </div>
            <div id="misc-media-buttons">
              <core-base-button
                id="library-add-button"
                class="media-action-button outline-offset-small"
                componentStyleClass="ui-button-l media-action-button"
                icon="arrow_circle_down"
              ></core-base-button>
              <core-base-button
                id="media-options-button"
                class="media-action-button outline-offset-small"
                componentStyleClass="ui-button-l media-action-button"
                icon="more_horiz"
              ></core-base-button>
            </div>
          </div>
        </div>
      </div>
      <div class="more-info">
        <div class="color-div"></div>
        <i
          id="toggle-button"
          class="material-symbols-rounded"
          [ngClass]="{
            rotated: showAdditionalInfo
          }"
          (click)="toggleShowContent()"
          (keydown)="toggleShowContent()"
          >expand_circle_down</i
        >
        <div class="info-border"></div>
        <ui-media-details-dropdown [showContent]="showAdditionalInfo">
          <div id="dropdown-content-wrapper">
            <div class="dropdown-content" #content>
              <div class="content-wrapper">
                <div id="media-songs-genre-description">
                  <span id="songs-count"
                    >{{
                      media?.currentMedia?.attributes?.trackCount ||
                        media?.currentMedia?.relationships?.tracks?.data
                          ?.length ||
                        media?.currentMedia?.songs?.length
                    }}
                    songs
                  </span>
                  <span>{{
                    media?.currentMedia?.duration | date : 'm:ss'
                  }}</span>
                  <p
                    *ngIf="media?.currentMedia?.attributes?.genreNames"
                    id="genres"
                  >
                    {{ media?.currentMedia?.attributes?.genreNames.join(', ') }}
                  </p>
                  <p
                    *ngIf="
                      media?.currentMedia?.attributes?.editorialNotes
                        ?.standard ||
                      media?.currentMedia?.attributes?.editorialNotes?.short
                    "
                    id="media-description"
                    [innerHTML]="
                      media?.currentMedia?.attributes?.editorialNotes
                        ?.standard ||
                      media?.currentMedia?.attributes?.editorialNotes?.short
                    "
                  ></p>
                  <p *ngIf="media?.currentMedia?.attributes?.releaseDate">
                    {{ media?.currentMedia?.attributes?.releaseDate }}
                  </p>
                  <p
                    id="recordLabel"
                    *ngIf="media?.currentMedia?.attributes?.recordLabel"
                  >
                    {{ media?.currentMedia?.attributes?.recordLabel }}
                  </p>
                  <p
                    id="copyright"
                    *ngIf="media?.currentMedia?.attributes?.copyright"
                  >
                    {{ media?.currentMedia?.attributes?.copyright }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ui-media-details-dropdown>
      </div>

      <div id="media-content-wrapper">
        <div id="media-content">
          <ui-virtual-table
            [media]="media?.currentMedia?.type"
            [data]="
              media?.currentMedia?.songs ||
              media?.currentMedia?.relationships?.tracks?.data
            "
            [playingSong]="(player.currentItem$ | async)?.id"
            [playing]="(player.playing$ | async)!"
            (pauseEmitter)="player.pause()"
            (unpauseEmitter)="player.play()"
            (indexEmitter)="
              player.setQueueAndPlayAtIndex(
                media.currentMedia?.type,
                media.currentMedia?.id,
                $event
              )
            "
            (idEmitter)="
              player.setQueueAndPlayAtIndex(
                media.currentMedia?.type,
                media.currentMedia?.id || $event
              )
            "
          ></ui-virtual-table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
