:host {
  position: relative;
  display: block;
  padding-top: 4rem;
  box-sizing: border-box;
  min-width: 0;
  height: inherit;
  color: var(--font-color);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-blend-mode: multiply;

  #media-details-wrapper {
    padding-inline: 1rem;
    display: flex;
    flex-direction: row;

    #media-cover-artwork {
      filter: drop-shadow(1px 1px 8px black);
    }

    #media-details {
      width: 100%;
      font-size: var(--font-size-xl);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 1.5rem;
    }

    #media-text {
      font-family: 'InterDisplay';

      #media-title {
        font-size: var(--font-size-6xl);
        font-weight: var(--font-weight-large-bold);
        margin-bottom: 0.5rem;
      }

      div,
      span {
        display: block;
        margin-bottom: 1rem;
      }
    }

    ::ng-deep #media-buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-content: space-between;

      #media-buttons-wrapper {
        display: flex;
        flex-direction: row;
      }

      core-base-button {
        margin-right: 1rem;

        button {
          background: var(--backgroundColor)
            linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0.603) 100%,
              var(--backgroundColor) 100%
            );
        }

        &#play-button {
          i {
            padding-left: 0.6rem;
            font-size: var(--font-size-4xl);
          }
        }

        &#shuffle-button {
          button {
            width: 7.5rem;
            padding-left: 0.8rem;
          }

          i {
            padding-left: 0.2rem;
            font-size: var(--font-size-3xl);
          }
        }

        &#library-add-button,
        &#media-options-button {
          button {
            outline-offset: -0.1em;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 10px;
            padding-bottom: 0.15rem;
          }

          &:hover {
            filter: brightness(120%);
          }

          &:active {
            filter: brightness(80%);
          }

          i {
            color: var(--font-color-white);
            font-size: var(--font-size-6hxl);
          }

          &:active {
            i {
              color: var(--font-color-white-faded);
            }
          }
        }

        &#media-options-button {
          i {
            padding-left: 0.3rem;
            font-size: var(--font-size-6xl);
          }
        }

        button {
          color: var(--accent-color, --theme-contrast-color);
          width: 6rem;
          font-size: var(--font-size-xl);
          font-weight: var(--font-weight-thin);
        }

        i {
          padding-top: 0.2rem;
        }
      }

      i,
      span {
        color: black;
      }

      #misc-media-buttons {
        button {
          background: transparent;
        }

        i {
          color: #bdbdbd !important;
          mix-blend-mode: luminosity;
        }

        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }

  .more-info {
    border-radius: 4px;
    margin-top: 2rem;
    max-width: 100%;
    background: transparent;

    .more-info-content {
      background: transparent;
      border-radius: 4px;
    }

    .color-div {
      position: absolute;
      width: 0.85rem;
      height: 0.35rem;
      z-index: 1;
      background-color: var(--accent-contrast-color, black);
      top: 17.8rem;
      left: calc(50% + 0.25rem);
    }

    #toggle-button {
      font-size: var(--font-size-2xl);
      margin-right: 2rem;
      overflow: visible;
      margin-top: 1rem;
    }

    .info-border {
      border-bottom: 1px solid var(--accent-color, white);
      position: absolute;
      top: 18rem;
      left: calc(50% - 11.5rem);
      width: 24rem;
      max-width: 100%;
      z-index: 0;
      mask: linear-gradient(
        to right,
        transparent 0%,
        rgba(white, 0.5) 50%,
        transparent 100%
      );
    }

    #dropdown-content-wrapper {
      background: transparent;
      border-radius: 4px;
      position: relative;
      clip: auto;

      .dropdown-content {
        background: var(--backgroundColor)
          linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(white, 0.8) 100%
          );
        color: black;
        background-blend-mode: hard-light;
        max-width: 100%;
        min-height: 0;
        padding-inline: 3rem;
        word-wrap: normal;
        white-space: wrap;
        border-radius: 4px;

        .content-wrapper {
          padding-block: 1rem;
        }

        span {
          padding: 1rem;
          display: inline-block;
        }
      }
    }

    i {
      z-index: 2;
      transition: transform 0.3s ease;
      color: var(--accent-color);
      position: absolute;
      top: 16.3rem;
      left: 50%;

      &.rotated {
        transform: rotate(180deg);
      }

      &:hover {
        filter: brightness(110%);
      }

      &:active {
        filter: brightness(80%);
      }
    }
  }

  .media-button-container {
    margin-left: -0.25rem;
  }

  ui-media-details-dropdown {
    transition: height 0.2s ease-out;

    p {
      transition: height 0.2s ease-out;
    }
  }

  #description {
    display: block;
    white-space: pre-wrap;
  }

  #page-wrapper {
    background: linear-gradient(
        transparent 14.09rem,
        var(--backgroundColor) 100rem
      ),
      var(--backgroundColor)
        linear-gradient(
          to bottom,
          rgb(255, 255, 255) 100%,
          var(--backgroundColor) 100%
        );
    height: inherit;
  }

  #media-content-wrapper {
    position: relative;
    width: 100%;
    height: inherit;
    margin-top: -1rem;

    #media-content {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: var(--backgroundColor)
        linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.603) 100%,
          var(--backgroundColor) 100%
        );
      padding: 1rem;
      position: absolute;
      top: 1.1rem;
      display: flex;
      width: 100%;
      min-height: 36vh;
    }
  }
}
