:host {
  height: 100vh;
  display: block;

  .background {
    min-height: 100%;
    background: linear-gradient(to bottom, var(--backgroundColor) 0 20rem),
      radial-gradient(
        120vw 30rem at 25rem 0rem,
        oklch(100% 0 0/100%) 0,
        oklch(100% 0 0/70%) 8rem,
        oklch(20% 0 0) 100%
      );
    background-blend-mode: multiply;
  }

  .details {
    display: block;
    padding-block: 4rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }

  .content {
    height: 100%;
    display: block;
    background-color: var(--background-300);
    border-radius: 4px;

    .content__list {
      height: 100%;
      min-height: 80vh;
      display: block;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }
}
