<ng-container *ngrxLet="playerFacade as vm">
  <ui-footer>
    <ng-container start>
      <div id="start-container" *ngIf="vm.currentItem$ | async as item">
        <ui-album-tile
          [tabIndex]="-1"
          id="media-tile"
          [source]="item.artworkURL"
          [mediaTitle]="item.title"
          [artists]="[item.artistName]"
          [showArtists]="true"
          [tileSize]="3.5"
          [hoverUnderline]="true"
        >
        </ui-album-tile>
      </div>
    </ng-container>
    <ng-container center>
      <ui-playback-controls
        (playEmitter)="vm.playing$ ? vm.pause() : vm.play()"
        (nextEmitter)="vm.nextTrack()"
        (previousEmitter)="vm.previousTrack()"
        (repeatEmitter)="vm.setRepeatMode()"
        (shuffleEmitter)="vm.setShuffleMode()"
        [isPlaying]="vm.playing$ | async"
        [shuffleMode]="vm.shuffleMode$ | async"
        [repeatMode]="vm.repeatMode$ | async"
        [playbackTime]="(vm.currentPlaybackTime$ | async) || 0"
        (dragStopEmitter)="vm.seekToTime($event)"
      >
      </ui-playback-controls>
    </ng-container>
    <ng-container end>
      <div id="misc-controls-wrapper">
        <ui-miscellaneous-controls (volumeEmitter)="vm.setVolume($event / 20)">
          id="misc-controls" ></ui-miscellaneous-controls
        >
      </div>
    </ng-container>
  </ui-footer>
</ng-container>
