:root {
  --button-color: var(--text);
}

:host {
  z-index: 99 !important;

  ::ng-deep {
    color: var(--text) !important;

    ui-drawer-item {
      i,
      span {
        color: var(--text) !important;
      }

      .button:not(.ui-button-no-hover) span,
      .button:not(.ui-button-no-hover) i {
        color: var(--text) !important;
      }

      &:hover {
        i,
        span {
          color: var(--text-100) !important;
        }
      }

      &:focus-visible {
        i,
        span {
          color: var(--text-100) !important;
        }
      }

      &:active {
        i,
        span {
          color: var(--text-600) !important;
        }
      }
    }
  }

  ::ng-deep {
    .footer-start {
      flex: 1;
      overflow: hidden;
      padding-right: 1rem;
    }

    .footer-center {
      flex: 2;
    }

    .footer-end {
      flex: 1;
      overflow: hidden;
    }
  }

  #start-container {
    max-width: 100%;
    flex: 1;
    vertical-align: middle;
    ::ng-deep {
      span {
        letter-spacing: var(--letter-spacing-n2xl);
      }
    }
  }
}
