<ng-container *ngrxLet="playerFacade as vm">
  <ui-footer>
    <ng-container start>
      <div id="start-container">
        <core-footer-media-tile
          *ngIf="vm.currentItem$ | async as currentTrack"
          class="media-tile"
          [mediaImage]="currentTrack?.attributes?.['artwork']?.url.replace('{w}x{h}', '300x300').replace('{f}', '{webp}')"
          [mediaTitle]="currentTrack?.attributes?.['name']"
          [mediaSubtitle]="currentTrack?.attributes?.['artistName']"
          [mediaLink]="
          '/media/albums/' +
          currentTrack.attributes?.['url']?.split('/')?.at(-1)?.split('?')?.[0] ||
          undefined
        "
          [mediaSubtitleLink]="
            '/media/artists/' + (vm.currentArtist$ | async)?.id
          "
        ></core-footer-media-tile>
      </div>
    </ng-container>
    <ng-container center>
      <ui-playback-controls
        (playEmitter)="vm.play()"
        (pauseEmitter)="vm.pause()"
        (nextEmitter)="vm.nextTrack()"
        (previousEmitter)="vm.previousTrack()"
        (repeatEmitter)="vm.setRepeatMode()"
        (shuffleEmitter)="vm.setShuffleMode()"
        [playbackState]="(vm.currentPlaybackState$ | async)!"
        [shuffleMode]="vm.shuffleMode$ | async"
        [repeatMode]="vm.repeatMode$ | async"
        [playbackTime]="(vm.currentPlaybackTime$ | async) || 0"
        (dragStopEmitter)="vm.seekToTime($event)"
      >
      </ui-playback-controls>
    </ng-container>
    <ng-container end>
      <div id="misc-controls-wrapper">
        <ui-miscellaneous-controls (volumeEmitter)="vm.setVolume($event / 20)">
          id="misc-controls" ></ui-miscellaneous-controls
        >
      </div>
    </ng-container>
  </ui-footer>
</ng-container>
