<mat-sidenav-container [ngClass]="drawerCollapsed ? 'collapseMargin' : 'fullMargin'" class="sidenav-container">
  <mat-sidenav #drawer [ngClass]="drawerCollapsed ? 'collapseDrawer' : ''" class="sidenav" fixedInViewport
    [attr.role]="'navigation'" [mode]="'side'" opened="true" position="start" [fixedTopGap]="45" [fixedBottomGap]="75">
    <mat-nav-list class="sidenav-nav-items" [disableRipple]="true">
      <a *ngIf="enableWindowControls" [style.display]="drawerCollapsed ? 'block' : 'none'" [@elementState]="elementStates[0]" class="sidebar-item nav-text mbn1h sidenavHoverable" mat-list-item>
        <span>
          <mat-icon [matTooltipDisabled]="drawerCollapsed ? false : true" matTooltip="File Menu" matTooltipPosition="right" class="material-icons-round nav-icon" fontIcon="more_vert" />
        </span>
      </a>
      <a [@elementState]="elementStates[1]" (mousedown)="elementStates[1]='selected'"
        (mouseup)="elementStates[1]='unselected'" class="sidebar-item nav-text mtn1h" routerLinkActive="active"
        [routerLink]="['/home']" [routerLinkActiveOptions]="{ exact: true }" mat-list-item>
        <span>
          <mat-icon [matTooltipDisabled]="drawerCollapsed ? false : true" matTooltip="Home" matTooltipPosition="right" class="material-icons-round nav-icon" fontIcon="home" />{{!drawerCollapsed ? ' Home' : ''}}
        </span>
      </a>
      <a [@elementState]="elementStates[2]" (mousedown)="elementStates[2]='selected'"
        (mouseup)="elementStates[2]='unselected'" class="sidebar-item nav-text" routerLinkActive="active"
        [routerLink]="['/search']" [routerLinkActiveOptions]="{ exact: true }" mat-list-item>
        <span>
          <mat-icon [matTooltipDisabled]="drawerCollapsed ? false : true" matTooltip="Search" matTooltipPosition="right" class="material-icons-round nav-icon" fontIcon="search" />{{!drawerCollapsed ? ' Search' : ''}}
        </span>
      </a>
      <a [@elementState]="elementStates[3]" (mousedown)="elementStates[3]='selected'"
        (mouseup)="elementStates[3]='unselected'" class="sidebar-item nav-text" routerLinkActive="active"
        [routerLink]="['/library']" [routerLinkActiveOptions]="{ exact: true }" mat-list-item>
        <span>
          <mat-icon [matTooltipDisabled]="drawerCollapsed ? false : true" matTooltip="Library" matTooltipPosition="right" class="material-icons-round nav-icon library-icon" fontIcon="library_music" />{{!drawerCollapsed ? ' Library' : ''}}
        </span>
      </a>

      <a class="sidebar-item nav-text" mat-list-item (click)="createNewPlaylist()">
        <span>
          <mat-icon [matTooltipDisabled]="drawerCollapsed ? false : true" matTooltip="New Playlist" matTooltipPosition="right" class="material-icons-round nav-icon" fontIcon="add_box" />{{!drawerCollapsed ? ' New Playlist' : ''}}
        </span>
      </a>
      <a class="sidebar-item nav-text" routerLinkActive="active" [routerLink]="['/liked_songs']"
        [routerLinkActiveOptions]="{ exact: true }" mat-list-item>
        <span>
          <mat-icon [matTooltipDisabled]="drawerCollapsed ? false : true" matTooltip="Liked Songs" matTooltipPosition="right" class="material-icons-round nav-icon" fontIcon="thumb_up" />{{!drawerCollapsed ? ' Liked Songs' : ''}}
        </span>
      </a>
      <mat-divider class="nav-divider"></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <div class="content-container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

<mat-sidenav-container>
  <mat-sidenav [ngClass]="[drawerCollapsed ? 'collapseDrawer' : '', scrollbarVisible ? 'scrollbarShown' : 'scrollbarHidden']" class="sidenav scrollbarHidden" id="sidenav-playlists" position="start"
    (mouseover)="enter()" (mouseleave)="leave()"
    fixedInViewport [mode]="'side'" opened="true" [fixedTopGap]="(drawerCollapsed && enableWindowControls) ? 300 : 272" [fixedBottomGap]="75">
    <mat-list class="sidebar-items">
      <a *ngFor="let playlist of (playlists$ | async)! | reverse" [ngClass]="drawerCollapsed ? 'playlist-item-compact' : ''" class="sidebar-item nav-text truncate-text"
        routerLinkActive="active" [routerLink]="['/playlist', playlist.id]" [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item>
        <span matTooltip="{{playlist.title}}" matTooltipPosition="right">
          {{!drawerCollapsed ? playlist.title : playlist.title.slice(0, 2)}}
        </span>
      </a>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>