.container {
    width: calc(100% - 2.4rem);
    height: calc(100% - 8rem);
    padding-top: 5rem;
    overflow: hidden;
}

.album-details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    column-gap: 10px;
    max-width: 1600px;
    grid-template-rows: auto;
    grid-auto-rows: 0px;
    overflow: hidden;

    :first-child {
        margin-left: 0;
    }

    > app-album-tile {
        max-width: fit-content;
        flex-grow: 1;
    }
}