<ng-container *ngrxLet="state$ as media">
  <ng-container *ngrxLet="musicState$ as player">
    <div class="content-wrapper">
      <div class="top-songs-wrapper">
        <core-top-songs
          [songs]="media.currentMedia?.views?.['top-songs']?.data"
        ></core-top-songs>
      </div>
      <div
        class="featured-tile-wrapper"
        *ngIf="(musicAPIFacade.featuredAlbums$ | async)?.[0]"
      >
        <ng-container
          *ngIf="musicAPIFacade.featuredAlbums$ | async as featured"
        >
          <p id="featured-tile-heading">Featured</p>
          <core-featured-tile
            [source]="featured[0].attributes?.artwork?.url || ''"
            [reasonTitle]="musicAPIFacade.featuredReason$ | async"
            [mediaImageSize]="10"
            [superheading]="featured[0].attributes?.releaseDate || ''"
            [heading]="featured[0].attributes?.name || ''"
            [subheading]="
              (musicAPIFacade.featuredTrackCount$ | async) + ' songs'
            "
            [showTitle]="true"
          ></core-featured-tile>
        </ng-container>
      </div>
      <div class="albums-wrapper">
        <div
          class="scroll-wrapper"
          *ngIf="(musicAPIFacade.artistAlbums$ | async)?.[0]"
        >
          <p id="albums-heading">Albums</p>
          <ng-container
            *ngFor="let album of musicAPIFacade.artistAlbums$ | async"
          >
            <core-media-tile
              class="media-tile"
              [mediaImage]="album.attributes?.artwork?.url || ''"
              [mediaImageSize]="10"
              [mediaTitle]="album?.attributes?.name || ''"
              [mediaSubtitle]="
                album?.attributes?.releaseDate?.slice(0, 4) || ''
              "
            ></core-media-tile>
          </ng-container>
        </div>
      </div>
      <div
        class="music-videos-wrapper"
        *ngIf="(musicAPIFacade.artistMusicVideos$ | async)?.[0]"
      >
        <div class="scroll-wrapper">
          <p id="music-videos-heading">Music Videos</p>
          <ng-container
            *ngFor="let album of musicAPIFacade.artistMusicVideos$ | async"
          >
            <core-video-tile
              class="media-tile video-tile"
              [videoImage]="album.attributes?.artwork?.url || ''"
              [videoImageSize]="10"
              [videoTitle]="album?.attributes?.name || ''"
              [videoSubtitle]="
                album?.attributes?.releaseDate?.slice(0, 4) || ''
              "
            ></core-video-tile>
          </ng-container>
        </div>
      </div>
      <div
        class="artist-playlists-wrapper"
        *ngIf="(musicAPIFacade.artistPlaylists$ | async)?.[0]"
      >
        <div class="scroll-wrapper">
          <p id="artist-playlists-heading">Artist Playlists</p>
          <ng-container
            *ngFor="let playlist of musicAPIFacade.artistPlaylists$ | async"
          >
            <core-media-tile
              [mediaImage]="playlist.attributes?.artwork?.url || ''"
              [mediaImageSize]="10"
              [mediaTitle]="playlist?.attributes?.name || ''"
              [mediaSubtitle]="
                playlist?.attributes?.releaseDate?.slice(0, 4) || ''
              "
            >
            </core-media-tile>
          </ng-container>
        </div>
      </div>
      <div
        class="singles-eps-wrapper"
        *ngIf="(musicAPIFacade.artistSingles$ | async)?.[0]"
      >
        <div class="scroll-wrapper">
          <p id="singles-eps-heading">Singles & EPs</p>
          <ng-container
            *ngFor="let album of musicAPIFacade.artistSingles$ | async"
          >
            <core-media-tile
              [mediaImage]="album.attributes?.artwork?.url || ''"
              [mediaImageSize]="10"
              [mediaTitle]="album?.attributes?.name || ''"
              [mediaSubtitle]="
                album?.attributes?.releaseDate?.slice(0, 4) || ''
              "
            ></core-media-tile>
          </ng-container>
        </div>
      </div>
      <div
        class="similar-artists-wrapper"
        *ngIf="(musicAPIFacade.similarArtists$ | async)?.[0]"
      >
        <div class="scroll-wrapper">
          <p id="similar-artists-heading">Similar Artists</p>
          <ng-container
            *ngFor="let artist of musicAPIFacade.similarArtists$ | async"
          >
            <core-artist-tile
              class="artist-tile"
              [name]="artist?.attributes?.name || ''"
              [image]="artist?.attributes?.artwork?.url || ''"
            ></core-artist-tile>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
