/* You can add global styles to this file, and also import other style files */
@use 'fonts';
@use 'ui_styles';

html,
body {
  height: 100vh;
  user-select: none;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
  background-color: black;
}

.app-wrapper {
  border-radius: 10px;
  background-color: black;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

core-base-button {
  -webkit-app-region: no-drag;
}

::ng-deep .cdk-drop-list-dragging .cdk-drag {
  transition: 0;
}
