<app-header [matMenu]="appSettingsMenu"></app-header>
<app-sidenav [matMenu]="appSettingsMenu"></app-sidenav>
<app-footer></app-footer>


<mat-menu class="context-menu app-settings-menu" #appSettingsMenu xPosition="after">
    <button mat-menu-item [matMenuTriggerFor]="file">File</button>
    <button mat-menu-item [matMenuTriggerFor]="edit">Edit</button>
    <button mat-menu-item [matMenuTriggerFor]="view">View</button>
    <button mat-menu-item [matMenuTriggerFor]="playback">Playback</button>
    <button mat-menu-item [matMenuTriggerFor]="help">Help</button>

    <mat-menu class="context-menu app-settings-menu" #file="matMenu">
        <button mat-menu-item>New Playlist</button>
        <button mat-menu-item>Log Out</button>
        <button mat-menu-item>Exit</button>
    </mat-menu>

    <mat-menu class="context-menu app-settings-menu" #edit="matMenu">
        <button mat-menu-item>Undo</button>
        <button mat-menu-item>Redo</button>
        <button mat-menu-item>Cut</button>
        <button mat-menu-item>Copy</button>
        <button mat-menu-item>Paste</button>
        <button mat-menu-item>Delete</button>
        <button mat-menu-item>Select All</button>
        <button mat-menu-item>Search</button>
        <button mat-menu-item>Preferences</button>
    </mat-menu>

    <mat-menu class="context-menu app-settings-menu" #view="matMenu">
        <button mat-menu-item>Zoom In</button>
        <button mat-menu-item>Zoom Out</button>
        <button mat-menu-item>Reset Zoom</button>
        <button mat-menu-item>Hardware Acceleration</button>
    </mat-menu>

    <mat-menu class="context-menu app-settings-menu" #playback="matMenu">
        <button mat-menu-item>Play</button>
        <button mat-menu-item>Next</button>
        <button mat-menu-item>Previous</button>
        <button mat-menu-item>Seek Forward</button>
        <button mat-menu-item>Seek Backward</button>
        <button mat-menu-item>Shuffle</button>
        <button mat-menu-item>Repeat</button>
        <button mat-menu-item>Volume Up</button>
        <button mat-menu-item>Volume Down</button>
    </mat-menu>

    <mat-menu class="context-menu app-settings-menu" #help="matMenu">
        <button mat-menu-item>About musicnya</button>
    </mat-menu>
</mat-menu>