<ng-container *ngTemplateOutlet="footerTemplate; context: { $implicit: this.uiStore.state$ | async, musicKitStore: this.musicKitStore.state$ | async,
    themeStore: this.themeStore.state$ | async }">
</ng-container>

<ng-template #footerTemplate let-uiStore$ let-musicKitStore$="musicKitStore" let-themeStore$="themeStore">
    <mat-toolbar class="footer" [style.height.px]="uiStore.state.footerHeight">
        <div class="media-album-info">
            <img id="current-album-cover" 
                src="{{musicKitStore$?.currentTrackArtworkURL}}" 
                [style.visibility]="(musicKitStore$?.playbackState !== playerState.none && musicKitStore$?.currentTrackArtworkURL) ? 'visible' : 'hidden'">
            <div id="current-album-info">
                <div id="current-song-title" matTooltip="{{musicKitStore$?.currentTrack?.title ?? null}}">{{musicKitStore$?.currentTrack?.title ?? ''}}</div>
                <div id="current-song-artist" matTooltip="{{musicKitStore$?.currentTrack?.artistName ?? null}}">{{musicKitStore$?.currentTrack?.artistName ?? ''}}</div>
            </div>
        </div>
        <div class="media-controls-container">
            <div class="main-media-controls-container">
                <mat-icon class="media-controls material-icons-round media-button" id="button-shuffle" (click)="toggleShuffleMode()" [style.color]="themeStore$?.shuffleButtonColor" [fontIcon]="uiStore.state.shuffleIcon!" matTooltip="Enable Shuffle" matTooltipPosition="above"/>
                <mat-icon class="media-controls material-icons-round media-button" id="button-skip_previous" (click)="musicKitStore.skipToPreviousItem()" fontIcon="skip_previous" matTooltip="Previous" matTooltipPosition="above"/>
                <mat-icon class="media-controls material-icons-round media-button" [ngClass]="{'button-disabled' : !musicKitStore$?.currentTrack}" id="button-play" fontIcon="{{uiStore$?.playPauseIcon}}" (click)="musicKitStore$?.currentTrack ? playPause() : null" matTooltip="Play" matTooltipPosition="above"/>
                <mat-icon class="media-controls material-icons-round media-button" id="button-skip_next" (click)="musicKitStore.skipToNextItem()" fontIcon="skip_next" matTooltip="Next" matTooltipPosition="above"/>
                <mat-icon class="media-controls material-icons-round media-button" id="button-repeat" #repeat [style.color]="themeStore$?.repeatButtonColor"
                    [style.opacity]="uiStore$?.repeatIconOpacity"
                    [fontIcon]="uiStore.state.repeatIcon!" (click)="toggleRepeatMode()"
                    [matTooltip]="tooltip" matTooltipPosition="above"/>
                <div class="seekbar-container">
                    <span class="track-time" id="seekbar-value">{{ (dragging || playbackValue.value! !== musicKitStore$?.currentPlaybackTime) ? (playbackValue.value! * 1000 | date:'m:ss') : (musicKitStore$?.currentPlaybackTime * 1000) | date:'m:ss' }}</span>
                    <mat-slider class="seekBar" [ngClass]="{'hideThumb' : !musicKitStore$?.currentTrack || musicKitStore$?.playbackState === playerState.loading }" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
                        [discrete]="thumbLabel" [showTickMarks]="showTicks">
                        <mat-progress-bar [style.display]="musicKitStore$?.playbackState === playerState.loading ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>
                        <input class="seekBarThumb" (sliderValue)="playbackValue.valueChanges" disableRipple matSliderThumb (dragStart)="handleDragStart()"
                        (dragEnd)="handleDragEnd($event)" [formControl]="playbackValue">
                    </mat-slider>
                    <span class="track-time" id="seekbar-max-value">{{ (musicKitStore$?.currentPlaybackDuration * 1000)  | date:'m:ss' }}</span>
                </div>
            </div>
            <div class="media-controls-misc media-button">
                <mat-icon class="media-controls material-icons-round" id="button-lyrics" fontIcon="lyrics" matTooltip="Lyrics" matTooltipPosition="above"/>
            </div>
            <div class="media-controls-misc media-button">
                <mat-icon class="media-controls material-icons-round" id="button-queue" fontIcon="queue_music" matTooltip="Queue" matTooltipPosition="above"/>
            </div>
            <div class="media-controls-volume">
                <mat-icon class="media-controls material-icons-round media-button" (click)="mute()" id="button-mute" 
                    [style.right.px]="(volumeValue.value! <= 51 && volumeValue.value! > 0) ? 97 : 95" 
                    [fontIcon]="volMuted ? 'volume_off' : volumeValue.value! > 51 ? 'volume_up' : 'volume_down'"
                    [matTooltip]="volMuted ? 'Unmute' : 'Mute'" matTooltipPosition="above"/>
                <mat-slider id="seekbar-volume" [disabled]="disabled" [max]="volMax" [min]="volMin" [step]="volStep"
                [discrete]="thumbLabel" [showTickMarks]="showTicks">
                    <input (sliderValue)="volumeValue.valueChanges" id="volumeValue" [formControl]="volumeValue" disableRipple matSliderThumb>
                </mat-slider>
            </div>
        </div>
    </mat-toolbar>
</ng-template>