<ng-container *ngrxLet="vm">
  <ng-container *ngIf="vm">
    <!-- Browse Categories -->
    <ng-container
      *ngFor="
        let item of vm.selectRadioElementsData$ | async;
        let i = index;
        trackBy: trackBy
      "
    >
      <ng-container [ngSwitch]="item.attributes?.editorialElementKind">
        <ng-container *ngSwitchDefault>
          <core-tile-selector
            (playEmitter)="play($event.type, $event.id)"
            (needCuratorEmitter)="handleCurator($event)"
            *ngIf="item.relationships?.['contents']?.data"
            [data]="item.relationships?.['contents']?.data"
            [title]="item.attributes?.['name'] || 'Unknown Category'"
          ></core-tile-selector>
        </ng-container>
        <div *ngSwitchCase="'316'">
          <div class="hero-banner-tiles">
            <ng-container
              *ngFor="let item of item.relationships?.children?.data"
            >
              <core-banner-hero-tile
                [badge]="item.attributes?.designBadge"
                [title]="item.relationships?.contents?.data?.[0]?.attributes?.['name'] || item.attributes?.designBadge || ''"
                [subtitle]="item.relationships?.contents?.data?.[0]?.attributes?.['editorialNotes']?.tagline || item.relationships?.contents?.data?.[0]?.attributes?.['name'] || item.attributes?.designTag"
                [description]="item.relationships?.contents?.data?.[0]?.attributes?.['plainEditorialNotes']?.short || ''"
                [image]=" item.relationships?.contents?.data?.[0]?.attributes?.['editorialArtwork']?.subscriptionHero.url.replace('{w}x{h}', '1200x1200').replace('{f}', 'webp') || item.relationships?.contents?.data?.[0]?.attributes?.['editorialArtwork']?.subscriptionCover.url.replace('{w}x{h}', '1200x1200').replace('{f}', 'webp') || item.attributes?.artwork?.url"
                >{{ item.attributes?.designTag }}</core-banner-hero-tile
              >
            </ng-container>
          </div>
        </div>
        <div *ngSwitchCase="'385'">
          <core-heading
            class="banner-tiles__heading"
            size="medium"
            >{{item.attributes?.['name']}}</core-heading
          >
          <div class="banner-tiles">
            <ng-container
              *ngFor="let item of item.relationships?.children?.data"
            >
              <!-- TODO REPLACE .REPLACE -->
              <core-banner-tile
                [image]="item.attributes?.artwork?.url || '' || item.relationships?.contents?.data?.[0]?.attributes?.['editorialArtwork'].subscriptionHero?.url.replace('{w}x{h}', '600x600').replace('{f}', 'webp') || item.relationships?.contents?.data?.[0]?.attributes?.['editorialArtwork'].subscriptionCover?.url.replace('{w}x{h}', '600x600').replace('{f}', 'webp')"
                >{{ item.relationships?.contents?.data?.[0]?.attributes?.['name'] || item.attributes?.designTag }}</core-banner-tile
              >
            </ng-container>
          </div>
        </div>
        <div *ngSwitchCase="'323'">
          <ng-container *ngFor="let item of item.relationships?.children?.data">
            <ng-container [ngSwitch]="item.attributes?.editorialElementKind">
              <div *ngSwitchCase="'336'">
                <core-tile-selector
                  [data]="item.relationships?.['contents']?.data"
                  [title]="item.attributes?.['name'] || 'Unknown Category'"
                  (playEmitter)="play($event.type, $event.id)"
                  (needCuratorEmitter)="handleCurator($event)"
                ></core-tile-selector>
              </div>
              <div *ngSwitchCase="'339'">
                <div class="spacer-3"></div>
                <core-tile-selector
                  [data]="item.relationships?.['contents']?.data"
                  [title]="item.attributes?.['name'] || 'Unknown Category'"
                  (playEmitter)="play($event.type, $event.id)"
                  (needCuratorEmitter)="handleCurator($event)"
                ></core-tile-selector>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div
          class="link-tiles"
          *ngSwitchCase="
            ['322', '391'].includes(item.attributes?.editorialElementKind || '')
              ? item.attributes?.editorialElementKind
              : ''
          "
        >
          <core-link-tile-set [links]="item.attributes?.links">
          </core-link-tile-set>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
