<ng-container *ngrxLet="vm">
  <!-- Recently Played -->
  <ui-media-tile-list
    *ngIf="vm.selectRecentlyPlayed$ | async"
    (playEmitter)="play($event.type, $event.id)"
    [listTitle]="'Recently Played'"
    [listData]="(vm.selectRecentlyPlayed$ | async) || []"
    [showMore]="false"
  ></ui-media-tile-list>
  <ng-container *ngIf="vm">
    <!-- Personal Recommendations -->
    <ui-media-tile-list
      *ngFor="
        let item of vm.selectRecommendations$ | async;
        let i = index;
        trackBy: trackBy
      "
      (playEmitter)="play($event.type, $event.id)"
      [listTitle]="item?.attributes?.['title']?.stringForDisplay"
      [listId]="item?.id"
      [listData]="item.relationships?.['contents']?.data || []"
      [showMore]="item?.attributes?.['hasSeeAll'] || false"
    ></ui-media-tile-list>
  </ng-container>
</ng-container>
