<ng-container *ngrxLet="vm">
  <ng-container *ngIf="vm">
    <!-- Personal Recommendations -->
    <ui-media-tile-list
      *ngFor="
        let item of vm.selectRecommendations$ | async;
        let i = index;
        trackBy: trackBy
      "
      (playEmitter)="play($event.type, $event.id)"
      [listTitle]="item?.attributes?.['title']?.stringForDisplay"
      [listId]="item?.id"
      [listData]="item.relationships?.['contents']?.data || []"
      [showMore]="item?.attributes?.['hasSeeAll'] || false"
      (needCuratorEmitter)="handleCurator($event)"
    ></ui-media-tile-list>
  </ng-container>
</ng-container>
