@use './utility-classes.scss';

:root[data-theme="light"] {
    --app-background: #e9e9e9;
    --focus-color: #1f1f1f;
    --background: #ffffff;
    --drawer-background: #ffffff;
    --drawer-text-color: #1f1f1f;
    --drawer-text-color-hover: #1f1f1f;
    --drawer-text-color-active: #1f1f1f;
    
    --text: #1f1f1f;
    --text-light: #8b8b8b;
    --text-very-light: #adadad;
    --text-dark: #000000;
    --text-inverse: #ffffff;
    --text-inverse-dark: #e6e6e6;
}

:root[data-theme="dark"] {
    --app-background: #000000;
    --focus-color: #1f1f1f;
    --background: #1f1f1f;
    --drawer-background: #1f1f1f;
    --drawer-text-color: #e7e7e7;
    --drawer-text-color-hover: #e4e4e4;
    --drawer-text-color-active: #c7c5df;

    --text: #ffffff;
    --text-light: #8b8b8b;
    --text-very-light: #adadad;
    --text-dark: #000000;
    --text-inverse: #000;
    --text-inverse-dark: #e6e6e6;
}

:root {
	--accent: #d41b73;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans JP", sans-serif;
	user-select: none;
	background-color: var(--app-background);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text);
	font-weight: 400;
	padding-left: 1rem;
}

.editorial-tiles, .tile-group__content {
	padding-left: 1rem;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: none;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
	-webkit-user-drag: none;

	&:hover {
		cursor: default;
	}
}

*:focus-visible {
	outline: 2px solid var(--focus-color);
	border-radius: 4px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #828282;
	border-radius: 8px
}

::-webkit-scrollbar-thumb {
	background: var(--text);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #636363;
}