:root {
    --primaryColor: 90, 87, 142;
    --accentColor: 255, 64, 128;
    --text: white;
    --text-inverse: black;
    --background-light: rgb(46, 46, 46);
    --ui-color-override: var(--override-color, white);
    --enable-color-transition: color 0.35s, background-color 0.35s, border-color 0.35s;

    .mat-app-background {
        background-color: rgb(28, 28, 28);
        transition: color 0.35s, background-color 0.35s, border-color 0.35s;
    }

    .mat-drawer-container {
        background-color: rgb(28, 28, 28);
        transition: color 0.35s, background-color 0.35s, border-color 0.35s;
    }

    .mat-drawer {
        background-color: rgb(20, 20, 20);
        transition: color 0.35s, background-color 0.35s, border-color 0.35s;
    }

    .mdc-menu-surface {
        background-color: rgb(35, 35, 35);
        transition: color 0.35s, background-color 0.35s, border-color 0.35s;
    }

    mat-expansion-panel {
        transition: color 0.35s, background-color 0.35s, border-color 0.35s;
    }
}

.use-light-theme {
    --text: black;
    --text-inverse: white;
    --background-light: rgb(224, 224, 224);

    .mat-app-background {
        background-color: #fafafa;
    }

    .mat-drawer-container {
        background-color: #fafafa;
    }

    .mat-drawer {
        background-color: #ffffff
    }

    .mdc-menu-surface {
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text: black;
        --text-inverse: white;
        --background-light: rgb(224, 224, 224);

        .mat-app-background {
            background-color: #fafafa;
        }

        .mat-drawer-container {
            background-color: #fafafa;
        }

        .mat-drawer {
            background-color: #ffffff
        }

        .mdc-menu-surface {
            background-color: #ffffff;
        }
    }
}

.faded-text {
    color: var(--text);
    opacity: 0.4;
}

.hover-fade {
    :hover {
        opacity: 0.8;
    }
}

.hover-no-bg {
    &:hover::before {
        background-color: transparent !important;
    }

    &:focus::before {
        background: transparent !important;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: rgba(black, 0.4) transparent;
}

*::-webkit-scrollbar {
    width: 10px;
    display: block;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

.no-scrollbar-margin {
    *::-webkit-scrollbar-track-piece:start {
        margin-top: 0;
    }
}

*::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 60px;
}

*::-webkit-scrollbar-thumb {
    border-right: none;
    border-left: none;
    background: rgba(125, 125, 125, 0.4);
}

.scrollbarHidden {
    color: transparent !important;
}

.scrollbarShown {
    color: rgba(#888, 1) !important;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(125, 125, 125, 1);
}

body {
    margin: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.br1 {
    border-radius: 1rem;
}

.br1h {
    border-radius: 0.5rem;
}

.br2 {
    border-radius: 2rem;
}

.pa0 {
    padding: 0;
}

.pa1 {
    padding: 1rem;
}

.pa1h {
    padding: 0.5rem;
}

.pl0 {
    padding-left: 0;
}

.pl1 {
    padding-left: 1rem;
}

.pl1h {
    padding-left: 0.5rem;
}

.pl1q {
    padding-left: 0.25rem;
}

.mln2 {
    margin-left: -2rem;
}

.mln1 {
    margin-left: -1rem;
}

.mv1h {
    margin-block: 0.5rem;
}

.mv1 {
    margin-block: 1rem;
}

.mvn1h {
    margin-block: -0.5rem;
}

.ma1h {
    margin: 0.5rem 0.5rem;
}

.mln1h {
    margin-left: -0.5rem;
}

.mtn1 {
    margin-top: -1rem;
}

.mtn1h {
    margin-top: -0.5rem;
}

.mbn1 {
    margin-bottom: -1rem;
}

.mbn1h {
    margin-bottom: -0.5rem;
}

.mhn1h {
    margin-inline: -0.5rem;
}

.mh1h {
    margin-inline: 0.5rem;
}

.mh1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ph1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ph1h {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mt0 {
    margin-top: 0;
}

.mt1h {
    margin-top: 0.5rem;
}

.mt1q {
    margin-top: 0.25rem;
}

.aifs {
    align-items: flex-start;
}

.flex {
    display: flex;
}

.fdr {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.ml1h {
    margin-left: 0.5rem;
}

.mt1h {
    margin-top: 0.5rem;
}

.mtbh {
    margin-bottom: 0.5rem;
}

.f3 {
    font-size: 1.5rem;
}

.f4 {
    font-size: 2rem;
}

.fw6 {
    font-weight: 600;
}

.fw5 {
    font-weight: 500;
}

.fw4 {
    font-weight: 400;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb2h {
    margin-bottom: 1.5rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb1h {
    margin-bottom: 0.5rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.pb1h {
    padding-bottom: 0.5rem;
}

.truncate-text {
    text-overflow: ellipsis;
}

.subheading {
    font-size: 12pt;
}

.container {
    padding-inline: 1.2rem;
    padding-block: 1rem 2rem;
    padding-top: 4rem;
}

.disable-focus-indicator {

    .mdc-switch__shadow,
    .mdc-switch__ripple {
        display: none;
    }
}