:host {
  #baseComponent {
    margin-block: 0.7rem;
  }

  ui-album-tile {
    margin-block: 0 !important;

    ::ng-deep {
      img {
        max-width: 3rem;
        max-height: 3rem;
      }

      #album-info {
        overflow-x: hidden;

        #title,
        #artists {
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block !important;
          font-family: 'Inter' !important;
        }

        #title {
          color: var(--font-color-slightly-faded);
        }
      }
    }
  }

  #baseComponent {
    margin-left: 1.6rem;
    transition: transform 0.6s cubic-bezier(0.165, 1, 0.165, 1),
      padding 0.6s cubic-bezier(0.165, 1, 0.165, 1);
  }

  #baseComponent.active {
    ::ng-deep .button {
      i,
      span {
        color: var(--font-color) !important;
      }
    }
  }

  .library {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .library__add-button {
      position: relative;
      margin-left: 3.2rem !important;
    }
  }

  .library__categories {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
  }

  ::ng-deep #footer-wrapper {
    > * {
      filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
      padding-block: 0.25rem !important;
    }

    #baseComponent {
      border-radius: 8px;

      > button:hover {
        &.collapsed img {
          outline: 8px solid var(--drawer-highlight-color);
        }
        background-color: var(--drawer-highlight-color);
      }

      > button:focus-visible {
        background-color: var(--drawer-highlight-color);
      }

      > button:active {
        background-color: var(--drawer-active-color);
      }

      margin-left: 0.4725rem;
      transition: transform 0.6s cubic-bezier(0.165, 1, 0.165, 1),
        padding 0.6s cubic-bezier(0.165, 1, 0.165, 1);
    }
  }

  .drawer-scroller,
  .content-scroller {
    --scrollbar-size: 6px;
    --scrollbar-padding: 2px;
    --scrollbar-thumb-color: var(--scrollbar-color);
    --scrollbar-thumb-hover-color: var(--scrollbar-hover-color);
    --scrollbar-border-radius: 4px;
  }

  .drawer-scroller {
    background-color: var(--background-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100% !important;
  }

  #footer-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;

    overflow: hidden;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 0.5rem;
    }
  }

  ::ng-deep .ui-drawer-footer {
    background-color: var(--background-color);
    min-height: 0;
    width: inherit;
    flex: 1;
    border-radius: 10px;
    height: 100vh !important;
  }
}

::ng-deep {
  .header-button {
    span {
      padding-left: 1rem;
    }
  }
}
