<ui-drawer
  [style.--drawerPadding]="!open ? '0rem' : '0.2rem'"
  [style.--albumTileOutline]="!open ? '0.15rem' : '0'"
  [style.--albumTileOutlineInverse]="!open ? '0' : '0.15rem'"
>
  <ng-container header>
    <core-base-button
      class="ui-button-m text-reg outline-offset drawer-item"
      text="Home"
      icon="home"
      [routerLink]="'/'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      coreDisableChildTabIndex
    ></core-base-button>
    <core-base-button
      class="ui-button-m outline-offset drawer-item"
      text="Search"
      icon="search"
      [routerLink]="'/search'"
      routerLinkActive="active"
      routerLink
      coreDisableChildTabIndex
    ></core-base-button>
  </ng-container>
  <ng-container content>
    <core-base-button
      class="ui-button-m outline-offset drawer-item"
      text="Library"
      icon="library_music"
      uiDrawerToggle
      (click)="toggle()"
    ></core-base-button>
    <!-- <core-base-button
      uiButton
      text="New Playlist"
      icon="add_box"
    ></core-base-button>
    <core-base-button
      uiButton
      text="Liked Songs"
      icon="thumb_up"
    ></core-base-button> -->
  </ng-container>
  <ng-container footer>
    <ng-container
      *ngFor="let playlist of libraryPlaylists$ | async; let i = index"
    >
      <ui-album-tile
        *ngIf="playlist.artwork?.url"
        class="drawer-item"
        (click)="getTracks(playlist.id)"
        [routerLink]="'/media/' + 'library-playlist' + '/' + playlist.id"
        [tabIndex]="-1"
        [source]="(playlist.artwork?.url ?? playlist?.tracks?.[0]?.artwork?.url ?? '')"
        [tileSize]="3"
        [artists]="playlist?.artists ?? ['Me']"
        [showArtists]="true"
        [mediaTitle]="playlist?.title ?? ''"
      >
      </ui-album-tile>
    </ng-container>
  </ng-container>
  <ng-content body-content></ng-content>
</ui-drawer>
