:host {
  #baseComponent {
    margin-block: 0.7rem;
  }

  #baseComponent {
    margin-left: 1.6rem;
    transition: width 0.6s cubic-bezier(0.165, 1, 0.165, 1), opacity 0.1s linear,
      padding 0.6s cubic-bezier(0.165, 1, 0.165, 1);
  }

  ::ng-deep #footer-wrapper #baseComponent {
    :focus-visible {
      img {
        filter: brightness(1.15);
      }
    }

    &:hover {
      img {
        filter: brightness(1.15);
      }
    }

    &:active {
      img {
        filter: brightness(0.85) !important;
      }
    }

    margin-left: 0.4725rem;
    transition: width 0.6s cubic-bezier(0.165, 1, 0.165, 1), opacity 0.1s linear,
      padding 0.6s cubic-bezier(0.165, 1, 0.165, 1);
  }

  ::ng-deep core-base-button.active {
    button,
    i {
      color: var(--font-color) !important;
    }
  }
}
